*{
	margin: 0;
	padding: 0;
}

body{
	padding: 0;
	margin: 0;
	overflow-y: scroll;
	scroll-behavior: smooth;
	overflow-x: hidden;
}


section{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 100vh;
	background: #f8f8f8;
}

/*HEADER DAN ATTRIBUTE*/


.page-container{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(../File_Gambar/PULAU.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
}

.form-container{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	z-index: 1;
}

.header{
	position: fixed;
	width: 100%;
	height: 110px;
	background: transparent;
	top: 0;
	z-index: 1;
}

.header img{
	width: 250px;
	height: 90px;
	line-height: 105px;
	float: left;
	margin: 5px 20px;
}

.menu{
	float: right;
	line-height: 105px;
	margin-right: 200px;
}

.menu li{
	list-style: none;
	display: inline-flex;
}

.menu li a{
	position: relative;
	--spacing: 1em;
	overflow: hidden;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	padding: 0 15px;
	font-size: 20px;
}

.menu li a:hover, .menu li a.active{
	color: #333;
}

.menu li a::after{
	content: "";
	position: absolute;
  	bottom: 30px;
  	left: var(--spacing);
  	right: var(--spacing);
  	height: 4px;
  	background: currentColor;
  	-webkit-transform: scaleX(0);
    transform: scaleX(0);
  	transition: -webkit-transform 150ms ease-in-out;
  	transition: transform 150ms ease-in-out;
  	transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}

.menu li a:hover::after{
	-webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.tombol{
	position: absolute;
	border: 2px solid white;
	width: 105px;
	height: 40px;
	top: 0;
	right: 0;
	margin: 28px;
	background: transparent;
	border-radius: 25px;
	transition: background 250ms ease-in-out;
}

.tombol:hover{
	background: white;
}

.tombol a{
	line-height: 40px;
	padding: 10px;
	font-size: 20px;
	color: white;
	cursor: pointer;
}

.tombol a:hover{
	color: black;
}

.bar{
	position: absolute;
	right: 10px;
	line-height: 50px;
	margin: 35px;
	cursor: pointer;
	display: none;
}

.bar div{
	width: 25px;
	height: 3px;
	background: white;
	margin: 5px;
	transition: all 0.5s ease;
}

.bar:hover div{
	background: red;
}

.user-log{
	position: absolute;
	font-size: 30px;
	top: 25px;
	left: 35px;
	padding: 10px;
	background: transparent;
	border-radius: 10px;
	border: none;
	outline: none;
	cursor: pointer;
	color: white;
	transition: 0.6s;
	opacity: 0;
}

.user-log:hover{
	transform: scale(1.2);
}

@media screen and (max-width: 1080px){
	.menu{
		position: absolute;
		background: #00BFFF;
		display: flex;
		flex-direction: column;
		right: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		align-items: center;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;

	}

	.menu li{
		opacity: 0;
	}

	.tombol{
		display: none;
	}

	.bar{
		display: block;
	}

	.page-container{
		height: 400%;
	}

	.box .input{
		display: block;
	}

}

.nav-active{
  transform: translateX(0);
}

@keyframes navFade{
	from {
		opacity: 0;
		transform: translateX(50px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}

.userFade{
	opacity: 1;
}
/*@keyframes userFade{
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}*/

.toggle .line1{
	transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
	opacity: 0;
}

.toggle .line3{
	transform: rotate(45deg) translate(-5px,-6px);	
}

/*FORM SIGN UP*/

/*::placeholder{
	color: white;
}*/

.box{
	width: 600px;
	height: 380px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: cyan;
	text-align: center;
	border-radius: 20px;
	box-shadow: 15px 0 25px rgba(0,0,0,.5);
	/*display: none;*/
}
 
.box h2{
	margin: 5px 0 0 0;
	color: black;
	text-transform: uppercase;
	font-weight: 500;
	text-shadow: 2px 3px 4px #333;
	border-bottom: 3px solid black;
	padding-bottom: 20px;
	font-size: 30px;
}

.bot-register{
	position: absolute;
	background: white;
	width: 100%;
	height: 70%;
	transform: translate(-40px);

}

.box input[type= "text"],.box input[type= "password"],
.box input[type= "number"],.box input[type="email"]{
	border: 2px solid grey;
	background: none;
	margin: 20px 20px auto;
	text-align: left;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	transition: 0.5s;
	border-radius: 5px;
}

.box input[type= "text"]:focus,.box input[type= "password"]:focus,
.box input[type= "number"]:focus,.box input[type= "email"]:focus{
	border-color: black;
}

.radio{
	position: relative;
	top: 20px;
	left: 85px;
	text-align: left;
	padding: 10px;
}

.label{
	position: relative;
	top: 0;
	left: 0;
	font-size: 18px;
	color: black;
}

.jk{
	font-size: 16px;
	color: black;
	font-weight: 500;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	padding-left: 25px;
	margin-top: 10px;
}

.jk + .jk{
	margin-left: 15px;
}

.jk:hover{
	cursor: pointer;
}

.jk input[type="radio"]{
	display: none;
}

.jk span{
	height: 10px;
	width: 10px;
	border-radius: 50%;
	border: 2px solid grey;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
}

.jk span::after{
	content: "";
	height: 8px;
	width: 8px;
	background: black;
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%) scale(0);
	border-radius: 50%;
	transition: 300ms ease-in-out 0s;
}

.jk [type="radio"]:checked ~ span::after{
	transform: translate(-50%,-50%) scale(1);
}

.ck{
	font-size: 16px;
	color: black;
	font-weight: 500;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	padding-left: 25px;
	margin-top: 10px;
}

.ck:hover{
	cursor: pointer;
}

input[type="checkbox"]{
	display: none;
}

.ck span{
	height: 10px;
	width: 10px;
	border: 2px solid grey;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
}

.ck span::after{
	content: "";
	height: 9px;
	width: 5px;
	border-right: 3px solid black;
	border-bottom: 3px solid black;
	display: block;
	position: relative;
	left: 10%;
	top: 40%;
	transform: rotate(45deg) translate(-50%,-50%) scale(0);
	transition: 300ms ease-in-out 0s;
}

.ck [type="checkbox"]:checked + span{
	background: black;
}

.ck [type="checkbox"]:checked ~ span::after{
	transform: rotate(45deg) translate(-50%,-50%) scale(1);
}

.ck a{
	text-decoration: none;
	color: blue;
	transition: 0.4s;
}

.box .Sign_up{
	border: 2px solid white;
	background: linear-gradient(120deg,#3498db,#8e44ad,#3498db);
	background-size: 200%;
	margin: 35px auto;
	text-align: center;
	padding: 14px 40px;
	outline: none;
	color: white;
	border-radius: 25px;
	transition: 0.4s;
	cursor: pointer;
}

.box .Sign_up:hover{
	background-position: right;
}

.close{
	position: absolute;
	right: 20px;
	top: 15px;
	font-size: 30px;
	cursor: pointer;
}

.close:hover{
	color: red;
}



/*FORM LOGIN*/

.box2{
	width: 300px;
	height: 420px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: cyan;
	text-align: center;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	box-shadow: 15px 0 25px rgba(0,0,0,.5);
}
.bot{
	width: 100%;
	height: 78%;
	position: absolute;
	background: white;
	border-radius: 0 0 20px 20px;
	transform: translate(-40px);
	border-top: 1px solid black;
}
.box2 h3{
	color: black;
	text-transform: uppercase;
	font-weight: 500;
	text-shadow: 2px 3px 4px #333;
	margin-bottom: 30px;
}

.box2 input[type="text"], .box2 input[type="password"]{
	border: 2px solid grey;
	margin: 20px 20px auto;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: black;
	border-radius: 5px;
	transition: 0.5s;
}

.box2 input[type="text"]:focus, .box2 input[type="password"]:focus{
	border: 2px solid black;
}

.input2 i, input[type="text"],input[type="password"]{
	display: inline-block;
}

.input2 i{
	position: absolute;
	font-size: 22px;	
	margin-top: 30px;
	margin-left: -8px;
}

.box2 .Login{
	width: 200px;
	border: 2px solid white;
	background: linear-gradient(120deg,#3498db,#8e44ad,#3498db);
	background-size: 200%;
	display: block;
	margin: 30px auto 5px;
	text-align: center;
	padding: 14px 40px;
	outline: none;
	color: white;
	transition: 0.4s;
	cursor: pointer;
}

.box2 .Login:hover{
	background-position: right;
}

.box2 .forget{
	text-decoration: none;
	color: #1606FF;
	font-size: 14px;
}

.bottom-text{
	text-align: center;
	margin-top: 20px;
	color: black;
}

.garisOr{
	display: inline-block;
	width: 40%;
	margin: 10px 10px 0 ;
}

.bottom{
	color: #1606FF;
	text-decoration: none;
}


.middle{
	width: 100%;
}

.btn, .btn2{
	display: inline-block;
	width: 50px;
	height: 50px;
	background: #f1f1f1;
	margin: 10px;
	border-radius: 30%;
	box-shadow: 0 5px 15px -5px #00000070;
	color: #3498db;
	overflow: hidden;
	position: relative;

}

.btn i, .btn2 i{
	line-height: 50px;
	font-size: 24px;
	transition: 0.2s linier;
}

.btn:hover i, .btn2:hover i{
	transform: scale(1.3);
	color: #f1f1f1;
}

.btn::before{
	content: "";
	position: absolute;
	width: 120%;
	height: 120%;
	background: #3498db;
	transform: rotate(45deg);
	left: -110%;
	top: 90%;
}

.btn2::before{
	content: "";
	position: absolute;
	width: 120%;
	height: 120%;
	background: #D32E2A;
	transform: rotate(45deg);
	left: -110%;
	top: 90%;
}

.btn:hover::before, .btn2:hover::before{
	animation: aaa 0.7s 1;
	top: -10%;
	left: -10%;
}

@keyframes aaa{
	0%{
		left: -110%;
		top: 90%;

	}

	50%{
		left: 10%;
		top: -30%;
	}

	100%{
		top: -10%;
		left: -10%;
	}
}

/*EVENT*/

.Event{
	position: absolute;
	top: 120%;
}

.Event::before{
	content: "";
	position: absolute;
	top: 120%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 300px;
	background: grey;
	height: 2px;
}

.Event::after{
	content: "";
	position: absolute;
	top: 120%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 200px;
	background: green;
	height: 3px;
}

h3{
	text-align: center;
	font-size: 35px;
}

.contents-event{
	margin-top: 15%;
}


.content-event{
	display: inline-block;
	margin: 5px 30px 5px 30px;
	padding: 10px;
	width: 300px;
	height: 320px;
	border-radius: 5px;
	background-color: white;
	box-shadow: 5px 5px 5px #888888;
}

.more{
	width: 200px;
	height: 40px;
	border-radius: 25px;
	background: #c5e022;
	cursor: pointer;
	margin: 25px 0 0 920px;
}

.more:hover{
	background: #007bff;
}

.more p{
	color: white;
	font-weight: bold;
	line-height: 40px;
	font-size: 18px;
}
	
	/*CONTENT*/

	.figura-event{
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 76%;
	}

	.figura-event img{
		width: 100%;
		height: 120%;
		-moz-transition: all 0.3s ease-in-out;
	  	-o-transition: all 0.3s ease-in-out;
	  	-webkit-transition: all 0.3s ease-in-out;
	  	-ms-transition: all 0.3s ease-in-out;
	  	transition: all 0.3s ease-in-out;
	  	-webkit-transform: scale(1.1);
	  	-moz-transform: scale(1.1);
	  	-ms-transform: scale(1.1);
	  	-o-transform: scale(1.1);
	  	transform: scale(1.1);
	}

	.figura-event:hover img{
		-webkit-transform: scale(1);
	  	-moz-transform: scale(1);
	  	-ms-transform: scale(1);
	  	-o-transform: scale(1);
	  	transform: scale(1);
	}

	.figura-event .read_more{
		width: 100%;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateX(-50%);
		text-align: center;
		opacity: 0;
		visibility: hidden;
		-webkit-transform: translateY(10px);
  		-moz-transform: translateY(10px);
  		-ms-transform: translateY(10px);
  		-o-transform: translateY(10px);
  		transform: translateY(10px);
  		-webkit-transition: all 0.6s;
  		transition: all 0.6s;
	}

	.figura-event .read_more span{
		background: rgba(255,255,255,0.8);
		padding: 5px 10px;
		color: black;
		border-radius: 20px;
	}

	.figura-event:hover .read_more{
		opacity: 1;
		visibility: visible;
		-webkit-transform: translateY(0);
  		-moz-transform: translateY(0);
  		-ms-transform: translateY(0);
  		-o-transform: translateY(0);
  		transform: translateY(0);
	}

	.content-event .judul-event{
		text-decoration: none;
		font-weight: bold;
		display: block;
		margin-top: 10px;
		color: black;
		font-size: 15px;
		font-family: Segoe UI;
		transition: 0.4s;
	}

	.content-event .judul-event:hover{
		color: #007bff;
	}

	.content-event hr{
		margin-top: 5px;
		width: 100%;
		background-color: grey;
	}

	.content-event p{
		color: black;
		float: left;
		margin: 4px 0 0 10px;
	}

	.content-event i{
		margin-right: 4px;
	}


/*WISATA*/
.Wisata{
	position: absolute;
	top: 225%;
	left: 50px;
}

.Wisata::before{
	content: "";
	position: absolute;
	top: 120%;
	left: 68%;
	transform: translate(-50%,-50%);
	width: 300px;
	background: grey;
	height: 2px;
}

.Wisata::after{
	content: "";
	position: absolute;
	top: 120%;
	left: 45%;
	transform: translate(-50%,-50%);
	width: 200px;
	background: green;
	height: 3px;
}

.contents-wisata{
	margin-top: 12%;
}

.content-wisata{
	display: inline-block;
	margin: 5px 20px 5px 20px;
	width: 280px;
	height: 280px;
	border-radius: 5px;
	background-color: white;
	box-shadow: 5px 5px 5px #888888;
}

.figura-wisata{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 70%;
}

	/*CONTENT*/
	.figura-wisata img{
		width: 100%;
		height: 100%;
		-moz-transition: all 0.3s ease-in-out;
	  	-o-transition: all 0.3s ease-in-out;
	  	-webkit-transition: all 0.3s ease-in-out;
	  	-ms-transition: all 0.3s ease-in-out;
	  	transition: all 0.3s ease-in-out;
	  	-webkit-transform: scale(1.1);
	  	-moz-transform: scale(1.1);
	  	-ms-transform: scale(1.1);
	  	-o-transform: scale(1.1);
	  	transform: scale(1.1);
	}

	.figura-wisata:hover img{
		-webkit-transform: scale(1);
	  	-moz-transform: scale(1);
	  	-ms-transform: scale(1);
	  	-o-transform: scale(1);
	  	transform: scale(1);
	}

	.content-wisata .judul-wisata{
		text-decoration: none;
		font-weight: bold;
		display: block;
		text-align: left;
		margin: 10px 0 0 10px;
		color: black;
		font-size: 15px;
		font-family: Segoe UI;
		transition: 0.4s;
	}

	.content-wisata .judul-wisata:hover{
		color: #007bff;
	}

	.content-wisata .rating{
		text-align: left;
		margin: 10px 0 0 10px;
		color: yellow;
	}

	.contents-wisata .lihat{
		text-decoration: none;
		display: block;
		text-align: left;
		margin: 20px 0 0 25px;
		font-weight: bold;
		font-size: 18px;
		color: #c5e022;
	}

	.contents-wisata .lihat:hover{
		color: black;
	}



/*KULINER*/
.Kuliner{
	position: absolute;
	top: 325%;
	left: 50px;
}

.Kuliner::before{
	content: "";
	position: absolute;
	top: 120%;
	left: 58%;
	transform: translate(-50%,-50%);
	width: 300px;
	background: grey;
	height: 2px;
}

.Kuliner::after{
	content: "";
	position: absolute;
	top: 120%;
	left: 38%;
	transform: translate(-50%,-50%);
	width: 200px;
	background: green;
	height: 3px;
}

.contents-kuliner{
	margin-top: 12%;
}

.content-kuliner{
	display: inline-block;
	margin: 5px 20px 5px 20px;
	width: 280px;
	height: 260px;
	border-radius: 5px;
	background-color: white;
	box-shadow: 5px 5px 5px #888888;
}

.figura-kuliner{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 80%;
}

	/*CONTENT*/
	.figura-kuliner img{
		width: 100%;
		height: 100%;
		-moz-transition: all 0.3s ease-in-out;
	  	-o-transition: all 0.3s ease-in-out;
	  	-webkit-transition: all 0.3s ease-in-out;
	  	-ms-transition: all 0.3s ease-in-out;
	  	transition: all 0.3s ease-in-out;
	  	-webkit-transform: scale(1.1);
	  	-moz-transform: scale(1.1);
	  	-ms-transform: scale(1.1);
	  	-o-transform: scale(1.1);
	  	transform: scale(1.1);
	}

	.figura-kuliner:hover img{
		-webkit-transform: scale(1);
	  	-moz-transform: scale(1);
	  	-ms-transform: scale(1);
	  	-o-transform: scale(1);
	  	transform: scale(1);
	}

	.content-kuliner .judul-kuliner{
		text-decoration: none;
		font-weight: bold;
		display: block;
		text-align: left;
		margin: 10px 0 0 10px;
		color: black;
		font-size: 15px;
		font-family: Segoe UI;
		transition: 0.4s;
	}

	.content-kuliner .judul-kuliner:hover{
		color: #007bff;
	}

	.contents-kuliner .lihat{
		text-decoration: none;
		display: block;
		text-align: left;
		margin: 20px 0 0 25px;
		font-weight: bold;
		font-size: 18px;
		color: #c5e022;
	}

	.contents-kuliner .lihat:hover{
		color: black;
	}

.partner{
	position: absolute;
	transform: translate(0,-100%);
}

.partner p{
	color: black;
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 20px;
}
.partner img{
	width: 150px;
	height: 70px;
	margin-left: 50px;
}

/*FOOTER*/
.footer{
	width: 100%;
	height: 100%;
	background: #164173;
	margin-top: 20%;
}

.footer h5,p{
	color: white;
}

.f1{
	margin: 50px 0 0 20px;
	width: 40%;
	height: 50%;
	padding: 0;
}

.f1 h5{
	float: left;
	margin: 20px 0 20px 40px;
	font-family: Square721 BT;
	text-transform: uppercase;
}

.f1 h5 .satu{
	font-size: 18px;
	margin-left: 50px;
}

.f1 h5 .dua{
	font-size: 24px;
}


.f1 p{
	float: left;
	font-size: 18px;
	margin: 0 20px 0 40px;
	font-family: times new roman;
	text-align: justify;
}

/*FOLLOW US*/

	.f2{
		width: 40%;
		height: 10%;
		margin: 0 0 0 40px;
		line-height: 40px;
	}

	.f2 p{
		font-size: 18px;
		text-transform: uppercase;
		float: left;
		margin-left: 40px;
	} 

	.follow{
		text-align: center;
		width: 70%;
		height: 100%;
	}

	.fl{
		display: inline-block;
		width: 40px;
		height: 40px;
		background: #f1f1f1;
		margin: 0 0 0 10px;
		border-radius: 30%;
		box-shadow: 0 5px 15px -5px #00000070;
		color: #3498db;
		overflow: hidden;
		position: relative;

	}

	.fl i{
		line-height: 40px;
		font-size: 20px;
		transition: 0.2s linier;
	}

	.fl:hover i{
		transform: scale(1.3);
		color: #f1f1f1;
	}

	.fl::before{
		content: "";
		position: absolute;
		width: 120%;
		height: 120%;
		background: #3498db;
		transform: rotate(45deg);
		left: -110%;
		top: 90%;
	}

	.fl:hover::before{
		animation: aaa 0.7s 1;
		top: -10%;
		left: -10%;
	}

	@keyframes aaa{
		0%{
			left: -110%;
			top: 90%;

		}

		50%{
			left: 10%;
			top: -30%;
		}

		100%{
			top: -10%;
			left: -10%;
		}
	}

/*CONTACT*/

.contact{
	position: absolute;
	left: 60%;
	top: 445%;
	width: 30%;
	height: 30%;
	margin: 20px;
	text-align: left;
}

.contact .up{
	margin-top: 20px;
	font-size: 25px;
}

#ct1{
	margin: 20px 0 0 0;
}
#ct2{
	margin: 10px 0 0 0;
}

.ct a{
	text-decoration: none;
	color: white;
	font-size: 18px;
}

.ct i{
	margin-right: 10px;
}

.ct a:hover{
	color: cyan;
}

.suggest{
	margin: 20px 0 0 0;
}

.suggest p{
	font-size: 20px;
	margin-bottom: 5px;
}

.suggest input[type="text"]{
	width: 200px;
	height: 40px;
	font-size: 18px;
	background: #2F4F4F;
	border: none;
	padding-left: 10px;
}

.suggest input[type="submit"]{
	position: absolute;
	width: 70px;
	height: 40px;
	margin: 0;
	font-size: 18px;
	color: black;
	font-weight: 20;
	background: #FFA500;
	border: none;
	cursor: pointer;
	transition: 0.4s;
	border-radius: 0 3px 3px 0;
}

.suggest input[type="submit"]:hover{
	color: white;
	background: #48D1CC;
}

.ftLine{
	margin-top: 40px;
	width: 90%;
	margin-left: 64px;	
}

.copyright{
	float: right;
	margin: 10px 80px 0 0;
}