

body {background-image: url(https://wallpapercave.com/wp/wp2406509.jpg);}
h1 {
	font-size: 40px;
	color: red;
	margin: 20px 20px 0px 20px;
	font-family: MV Boli;
}
h2 {
	font-size: 27px;
	margin-left: 310px;
	color: red;
}
.sign_up {
	color: black;
	font-size: 16px;
	margin: 25px 775px 25px 150px;
	border: 2px solid blue;
	border-radius: 10px;
	padding: 20px;
	background-color: rgba(0,0,50,.5);
	width: 410px;
	height: 400px;

}

input[type="text"], input[type="number"], 
input[type="date"], input[type="password"]{
	padding: 5px;
	border-radius: 4px;
	margin: 10px 20px 20px 0;
	background: rgba(0,100,100,.4);
	color: white;
}

label {
	color: white;
	margin: 0 80px 20px 0;
	font-size: 18px;
}

::placeholder{
	color: white;
}

input[type="radio"], input[type="checkbox"]{
	margin: 10px 10px 0 0;
	background: rgba(0,0,100,.5);
}

.radio{
	font-size: 16px;
	color: white;
	margin: 0 20px 20px 0;
}

.a{
	margin: 0 123px 20px 0;
}

.b{
	margin: 0 87px 20px 0;
}

.up{
	font-size: 14px;
	background: rgba(0,100,100,.5);
	border-radius: 25px;
	color: white;
	position: relative;
	top: 40px;
	left: 150px;
	width: 100px;
	height: 40px;
}

.sign_in{
	color: black;
	font-size: 16px;
	position: absolute;
	left: 65%;
	top: 25%;
	border: 2px solid blue;
	border-radius: 10px;
	padding: 20px;
	background-color: rgba(0,0,50,.5);
	width: 210px;
}

h3{
	position: absolute;
	top: 13%;
	left: 71%;
	font-size: 27px;
	color: red;
}

.in{
	font-size: 14px;
	background: rgba(0,100,100,.5);
	border-radius: 25px;
	color: white;
	position: relative;
	top: 10px;
	left: 60px;
	width: 100px;
	height: 40px;
}


